@import '../../styles/variables.scss';

.aboutHeaderTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.01) 0 2.25rem 1.75rem -0.4375rem,
    rgba(0, 0, 0, 0.1) 0 1.0625rem 1.0625rem -0.4375rem;

  .aboutHeaderTitleLG {
    position: absolute;
    top: 15%;
    font-size: 100px;
    text-transform: capitalize;
  }
}
.aboutHeaderImg {
  background-image: url(../../assets/GrandTeton.jpg);
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  height: 50vh;
}
