@import '../../styles/global';

.contactHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: $main-bg;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 0 2.25rem 1.75rem -0.4375rem,
    rgba(0, 0, 0, 0.2) 0 1.0625rem 1.0625rem -0.4375rem;

  .contactHeaderTitle {
    position: absolute;
    top: 15%;
    font-size: 100px;
    text-transform: capitalize;
  }

  .contactHeaderImg {
    background-image: url(https://images.unsplash.com/photo-1437143618958-b630ca68622f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 50vh;
  }
}
