@import '../../styles/responsive.scss';

.posts1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include xxl {
    grid-template-columns: repeat(3, auto);
  }

  @include md {
    grid-template-columns: repeat(2, auto);
  }

  @include sm {
    grid-template-columns: repeat(1, auto);
  }
}
