@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.top {
  // overflow: hidden;
  width: 100%;
  height: 50px;
  // padding: 0 20px;
  background-color: $main-color;
  color: $main-bg;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  font-family: $main-font;
}

.topLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;

  @include sm {
    display: none;
  }

  .topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: $main-bg;
    cursor: pointer;
  }

  .youtube:hover {
    color: #ff0000;
  }
  .instagram:hover {
    color: #e1306c;
  }
  .twitter:hover {
    color: #1da1f2;
  }
  .pinterest:hover {
    color: #e60023;
  }
}

// .topRight {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   @include sm {
//     display: none;
//   }
//   @include md {
//     display: none;
//   }
// }

.topCenter {
  @include md {
    margin: auto;
  }
  @include sm {
    display: none;
  }
  .topList {
    display: flex;
    justify-content: space-between;
    // margin: 0;
    // padding: 0;
    list-style: none;
  }
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }
}

.logo {
  font-family: $tertiary-font;
  padding-left: 10px;
  span {
    color: red;
  }
  @include md {
    display: none;
  }
  @include sm {
    display: block;
  }
}

// .topRightList {
//   display: flex;
//   justify-content: space-between;
//   // margin: 0;
//   // padding: 0;
//   list-style: none;

//   .topRightListItem {
//     margin-right: 20px;
//     font-size: 18px;
//     font-weight: 400;
//     cursor: pointer;

//     .topRightListItem:hover {
//       color: gray;
//     }
//   }
// }

// .topImg {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   object-fit: cover;
//   margin-right: 15px;
//   cursor: pointer;
// }

// .topSearchIcon {
//   font-size: 18px;
//   color: #666;
//   cursor: pointer;
// }
