@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.footerContainer {
  background-color: #181c2c;
  padding: 20px;
  color: #d1d5db;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-family: $main-font;
  position: relative;
  bottom: 0;
  width: 100%;

  @include md {
    flex-direction: column;
  }

  .bottomLeft {
    display: flex;

    @include md {
      padding: 5px;
    }

    .youtube,
    .instagram,
    .twitter {
      margin-right: 10px;
      cursor: pointer;
      font-size: 20px;
    }
    .pinterest {
      cursor: pointer;
      font-size: 20px;
    }

    .youtube:hover {
      color: #ff0000;
    }
    .instagram:hover {
      color: #e1306c;
    }
    .twitter:hover {
      color: #1da1f2;
    }
    .pinterest:hover {
      color: #e60023;
    }
  }

  .bottomCenter {
    display: flex;

    @include md {
      padding: 5px;
    }
  }

  .bottomLinks {
    .bottomList {
      display: flex;
      flex-direction: row;
      list-style: none;
      .bottomListItem {
        // margin-right: 20px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }

  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }

  .bottomRight {
    display: flex;

    @include md {
      display: flex;
      padding: 5px;
    }
  }
}
