@import '../../styles/global.scss';
@import '../../styles/responsive.scss';

// .burger {
//   @include lg {
//     display: none;
//   }
//   @include sm {
//     display: block;
//     margin-left: auto;
//   }
// }

.nav {
  height: fit-content;
  background-color: $main-bg;
  font-family: $main-font;
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  justify-content: space-between;

  .navTopSection {
    padding: 0px 18px 10px 18px;

    .topText {
      font-family: $tertiary-font;
    }
  }

  .navLinkSection {
    border-top: 1px solid $main-color;
    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 1rem 1.2rem;
      border-radius: 5px;
      font-weight: 600;
      color: $main-color;

      &:hover {
        color: $main-bg;
        background-color: $main-color;
      }

      .linkIcon {
        margin-right: 12px;
      }
    }
  }

  .navIconSection {
    padding: 10px 18px 0px 18px;
    border-top: 1px solid $main-color;

    .youtube:hover {
      fill: #ff0000;
      cursor: pointer;
    }
    .instagram:hover {
      fill: #e1306c;
      cursor: pointer;
    }
    .twitter:hover {
      fill: #1da1f2;
      cursor: pointer;
    }
    .pinterest:hover {
      fill: rgba(230, 0, 35, 0.699);
      cursor: pointer;
    }
  }
}
