@import '../../styles/variables.scss';
@import '../../styles/global.scss';

.singlePostWrapper {
  // .singlePostImg {
  //   width: 100%;
  //   height: 50vh;
  //   border-radius: 5px;
  //   object-fit: contain;
  // }

  .singlePostTitleInput {
    margin: 10px;
    font-size: 28px;
    font-family: $main-font;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid grey;
  }

  .singlePostTitleInput:focus {
    outline: none;
  }

  .singlePostEdit {
    float: right;
    font-size: 16px;
  }

  .singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
  }

  .singlePostIcon:first-child {
    color: teal;
  }
  .singlePostIcon:last-child {
    color: tomato;
  }

  .singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
  }

  .singlePostDescInput:focus {
    outline: none;
  }

  .singlePostButton {
    border: none;
    background-color: teal;
    padding: 5px;
    width: 100px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
  }
}
