@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.container {
  // for responsive container, use a vw that is about 75 and go bigger every break point.
  display: flex;
  width: 75vw;

  @include md {
    display: block;
    width: 80vw;
  }
  @include sm {
    display: block;
    width: 95vw;
  }

  img {
    // for responsive image, use a vw that is about 45 and go bigger every break point. zooming in.
    object-fit: cover;
    display: block;
    width: 45%;
    @include md {
      margin: auto;
      width: 90%;
    }
    @include sm {
      margin: auto;
      width: 100%;
    }
  }
}
