@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.aboutSectionTitle {
  margin: 10px;
  text-align: center;
  font-size: 25px;
  font-family: $secondary-font;
}
.container {
  // for responsive container, use a vw that is about 75 and go bigger every break point.
  display: flex;
  width: 75vw;
  margin: auto;
  padding: 0;
  background: transparent;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.01) 0 2.25rem 1.75rem -0.4375rem,
    rgba(0, 0, 0, 0.01) 0 1.0625rem 1.0625rem -0.4375rem;
  margin: 20px auto;

  @include md {
    display: block;
    width: 80vw;
  }
  @include sm {
    display: block;
    width: 95vw;
  }

  .aboutSectionText {
    text-align: center;
    margin: 10px;
    font-family: $secondary-font;
    line-height: 35px;
    display: flex;
    align-items: center;
  }

  img {
    // for responsive image, use a vw that is about 45 and go bigger every break point. zooming in.
    object-fit: cover;
    display: block;
    width: 45%;
    @include md {
      margin: auto;
      width: 90%;
    }
    @include sm {
      margin: auto;
      width: 100%;
    }
  }
}
