/* .header {
  margin-top: 0px;
} */

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: #181c2c;
}

.headerTitleSm {
  position: absolute;
  top: 12.5%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 15%;
  font-size: 100px;
}

.headerImg {
  background-image: url(../../assets/AZ\ Peaks\ Cropped2.JPG);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border: none;
}
