@import './variables.scss';

.main {
  background-color: $main-bg;
  color: $main-color;
  font-family: $main-font;
}

.parent {
  position: relative;
  min-height: 100vh;
}
.testing {
  display: block;
}
